* {
    margin: 0;
    transition: all 100ms ease-in-out;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}



.ram {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}

label img {
    display: flex;
    height: 27px;
    width: 27px;
    margin-left: 7px;
}

.item .text {
    margin: 0 0 20px 10px;
    font-size: 18px;
}

.item img {
    width: 240px;
    height: 240px;
}

.item {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}
/* 
.items {
    margin: 25px;
    display: grid;
    gap: 20px;
    grid-template-columns: auto auto auto auto;
} */


@media only screen and (min-width: 1020px) {

    .ram {
        margin: 24px;
    }

    .logo img {
        width: 600px;
        height: 200px;
        background-repeat: no-repeat;
        margin: 15px;
    }

    #searchInput {
        background: url(/imgs/searchl.png) no-repeat scroll 7px 7px;
        display: flex;
        background-size: 30px;
        font-size: 16px;
        height: 30px;
        width: 1020px;
        border: 1px solid #000;
        border-radius: 4px;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
        padding: 22px 45px;
    }

    .items {
        margin: 25px;
        display: grid;
        gap: 20px;
        grid-template-columns: auto auto auto auto;
    }

}

@media only screen and (max-width: 1020px) {

    .ram {
        padding: 24px;
    }

    .logo img {
        width: 355px;
        height: 120px;
        background-repeat: no-repeat;
        margin: 15px;
    }

    #searchInput {
        background: url(/imgs/searchl.png) no-repeat scroll 7px 7px;
        display: flex;
        background-size: 30px;
        font-size: 16px;
        height: 30px;
        width: 312px;
        border: 1px solid #000;
        border-radius: 4px;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
        padding: 22px 45px;
    }

    .items {
        margin: 25px;
        display: grid;
        gap: 20px;
        grid-template-columns: auto ;
    }

}