* {
    margin: 0;
    padding: 0;
}

.rickandmortyContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: 0 0 25px 0;
}
.logo img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.input-search {
    width: 60%;
    padding: 0 40px;
    height: 30px;
    border: none;
    border-radius: 7px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    background-image: url("/imgs/EvaSearchFill.svg");
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 4px;

}

.hidden {
    display: none;
}

.item {
    border: 0;
    background: aqua;
    padding: 20px;
}
